@model SchoolAttendance.DTO.TermReportDTO
@{
    ViewBag.Title = "Term Report Dates";
}

<h2>Select Dates</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>
                <div>
                    <br />
                    <span>From Date:&nbsp;&nbsp;</span>
                    <input type="date" id="datefrom" name="datefrom" value="@ViewBag.FromDate"/>
                </div>
            </td>
            <td>
                <div>
                    <br />
                    <span>To Date:&nbsp;&nbsp;</span>
                    <input type="date" id="dateto" name="dateto" value="@ViewBag.ToDate"/>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <input type="submit" value="Submit">
}
